In [34]:
import pandas as pd
data  = pd.read_csv("series.csv")
data

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   int64
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Star1          1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          1000 non-null   float64
 9   Metascore      843 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 78.3+ KB

In [36]:
data.Released_Year.unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

In [37]:
data[data.Released_Year == "PG"]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
966,Apollo 13,PG,140,Adventure,7.6,Ron Howard,Tom Hanks,269197,173837933.0,77.0

In [41]:
data.loc[966:966,"Released_Year"] = "2016"

In [42]:
data.Released_Year.unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943'], dtype=object)

In [44]:
data.Released_Year = data.Released_Year.astype(int)

In [46]:
data.Released_Year.dtype

dtype('int64')

In [49]:
data[data.Released_Year == 2008 ]["Series_Title"]

2                          The Dark Knight
66                                  WALLÂ·E
224                            A Wednesday
225                            Gran Torino
227                              Okuribito
351                                Yip Man
354                    Slumdog Millionaire
487                 LÃ¥t den rÃ¤tte komma in
489                           The Wrestler
494                              In Bruges
502                               Iron Man
608                             Chugyeokja
615                                  Taken
616         The Boy in the Striped Pyjamas
628    The Curious Case of Benjamin Button
756                    Gake no ue no Ponyo
757                            Frost/Nixon
759                             Changeling
913                              Die Welle
917                           Seven Pounds
933                   Synecdoche, New York
Name: Series_Title, dtype: object

In [53]:
data[(data.Released_Year == 2008) & (data.Genre == "Action") ]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
224,A Wednesday,2008,104,Action,8.1,Neeraj Pandey,Anupam Kher,73891,573329738.0,NaN
351,Yip Man,2008,106,Action,8.0,Wilson Yip,Donnie Yen,211427,613703997.0,59.0
502,Iron Man,2008,126,Action,7.9,Jon Favreau,Robert Downey Jr.,939644,318412101.0,79.0
608,Chugyeokja,2008,125,Action,7.8,Hong-jin Na,Kim Yoon-seok,58468,369366051.0,64.0
615,Taken,2008,90,Action,7.8,Pierre Morel,Liam Neeson,564791,145000989.0,51.0

In [56]:
data[data.Released_Year == 2008]["Gross"].sum()

np.float64(4309064000.0)

In [62]:
data.Gross.max()

np.float64(936662225.0)

In [63]:
data[data.Gross == data.Gross.max()]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
477,Star Wars: Episode VII - The Force Awakens,2015,138,Action,7.9,J.J. Abrams,Daisy Ridley,860823,936662225.0,80.0

In [66]:
data[data.Runtime == data.Runtime.max()]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
140,Gangs of Wasseypur,2012,321,Action,8.2,Anurag Kashyap,Manoj Bajpayee,82365,5257741.0,89.0

In [74]:
data.Director.value_counts()

Director
Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Akira Kurosawa      10
Martin Scorsese     10
                    ..
Kinji Fukasaku       1
Eric Bress           1
Thomas Kail          1
Irvin Kershner       1
Lana Wachowski       1
Name: count, Length: 548, dtype: int64

In [77]:
data[data.Genre == "Comedy"]["Director"].value_counts()

Director
Woody Allen        8
Charles Chaplin    5
Billy Wilder       4
Rajkumar Hirani    4
Emir Kusturica     3
                  ..
Marc Caro          1
Chris Columbus     1
David Zucker       1
Richard Lester     1
Blake Edwards      1
Name: count, Length: 113, dtype: int64

In [79]:
data[(data.Director == "Woody Allen" ) & (data.Genre == "Comedy") ]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
414,Annie Hall,1977,93,Comedy,8.0,Woody Allen,Woody Allen,251823,39200000.0,92.0
526,Crimes and Misdemeanors,1989,104,Comedy,7.9,Woody Allen,Martin Landau,54670,18254702.0,77.0
528,Hannah and Her Sisters,1986,107,Comedy,7.9,Woody Allen,Mia Farrow,67176,40084041.0,90.0
533,Manhattan,1979,96,Comedy,7.9,Woody Allen,Woody Allen,131436,45700000.0,83.0
743,Midnight in Paris,2011,96,Comedy,7.7,Woody Allen,Owen Wilson,388089,56816662.0,81.0
835,The Purple Rose of Cairo,1985,82,Comedy,7.7,Woody Allen,Mia Farrow,47102,10631333.0,75.0
837,Zelig,1983,79,Comedy,7.7,Woody Allen,Woody Allen,39881,11798616.0,NaN
846,Love and Death,1975,85,Comedy,7.7,Woody Allen,Woody Allen,36037,745173387.0,89.0

In [72]:
data[data.Director == "Alfred Hitchcock"]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
81,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313.0,100.0
118,North by Northwest,1959,136,Adventure,8.3,Alfred Hitchcock,Cary Grant,299198,13275000.0,98.0
119,Vertigo,1958,128,Mystery,8.3,Alfred Hitchcock,James Stewart,364368,3200000.0,100.0
187,Dial M for Murder,1954,105,Crime,8.2,Alfred Hitchcock,Ray Milland,158335,12562.0,75.0
312,Rebecca,1940,130,Drama,8.1,Alfred Hitchcock,Laurence Olivier,123942,4360000.0,86.0
450,Rope,1948,80,Crime,8.0,Alfred Hitchcock,James Stewart,129783,466149116.0,73.0
556,Strangers on a Train,1951,101,Crime,7.9,Alfred Hitchcock,Farley Granger,123341,7630000.0,88.0
559,Notorious,1946,102,Drama,7.9,Alfred Hitchcock,Cary Grant,92306,10464000.0,100.0
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
714,The Lady Vanishes,1938,96,Mystery,7.8,Alfred Hitchcock,Margaret Lockwood,47400,474203697.0,98.0
862,The Birds,1963,119,Drama,7.7,Alfred Hitchcock,Rod Taylor,171739,11403529.0,90.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [81]:
data.No_of_Votes.min()

np.int64(25088)

In [82]:
data[data.No_of_Votes == data.No_of_Votes.min()]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
264,Ba wang bie ji,1993,171,Drama,8.1,Kaige Chen,Leslie Cheung,25088,5216888.0,NaN

In [92]:
data[data.Genre == "Drama"]["IMDB_Rating"].mean()

np.float64(7.957439446366782)